anls
Levenshtein
scikit-learn
rouge_score
openai
anthropic
word2number
google-generativeai
tenacity
rouge
fasttext
decord
sacrebleu
unidecode
jieba
requests_cache
geopy
pronouncing
antlr4-python3-runtime==4.11